* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	background: linear-gradient(30deg, #025373, #9d14b4, #2ca159);
	background-size: 600% 600%;

	-webkit-animation: AnimationName 14s ease infinite;
	-moz-animation: AnimationName 14s ease infinite;
	animation: AnimationName 14s ease infinite;
}

@-webkit-keyframes AnimationName {
	0% {
		background-position: 0% 78%;
	}
	50% {
		background-position: 100% 23%;
	}
	100% {
		background-position: 0% 78%;
	}
}
@-moz-keyframes AnimationName {
	0% {
		background-position: 0% 78%;
	}
	50% {
		background-position: 100% 23%;
	}
	100% {
		background-position: 0% 78%;
	}
}
@keyframes AnimationName {
	0% {
		background-position: 0% 78%;
	}
	50% {
		background-position: 100% 23%;
	}
	100% {
		background-position: 0% 78%;
	}
}
