body {
  overflow: hidden;
  margin: 0;
  font-family: "Electrolize", sans-serif;
}

.statusBar {
  z-index: 1;
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 100px;
  align-items: center;
  justify-content: center;
  padding-top: 32px;
}

.statusBarText {
  text-transform: uppercase;
  min-width: 175px;
  font-size: 20px;
  letter-spacing: 2px;
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.collectedLetter {
  color: #364d4a;
}

#speed {
  color: turquoise;
}

#shields {
  color: magenta;
}

#hyper {
  color: turquoise;
  min-width: 230px;
}

.soundLevel {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.soundIndicator {
  border-radius: 50%;
  background-color: #491c49;
  width: 20px;
  height: 20px;
  border: 1px solid #921a92;
}

.soundIndicator.lightedUp {
  background-color: #ff23ff;
  box-shadow: 0 0 10pt 2pt #ff5ef6;
}

.instructionsText {
  z-index: 1;
  position: relative;
  color: turquoise;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 32px;
  letter-spacing: 2px;
}

.instructionsLines {
  height: 24px;
}
